@model List<HMS.Web.Models.Domain.NewsPost>
@{
    
}
<div class="container p-md-5 mx-md-4">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            @if (Model != null && Model.Any())
            {
                for (int i = 0; i < Model.Count(); i++)
                {
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i+1)"></button>
                }
            }
        </div>
        <div class="carousel-inner">
            @if (Model != null && Model.Any())
            {
                int counter = 0; // Counter initialization
                foreach (var newsPost in Model)
                {
                    <div class="carousel-item mb-light box-shadow mb-5 p-2 @(counter == 0 ? "active" : "")">
                        <a asp-area=""
                           asp-controller="News"
                           asp-action="Index"
                           asp-route-urlHandle="@newsPost.UrlHandle">
                            <img src="@newsPost.FeaturedImageUrl" class="d-block w-100 mx-auto" alt="..." style="max-width: 800px; height: 400px;">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@newsPost.PageTitle</h5>
                            <p>@newsPost.ShortDescription</p>
                        </div>
                    </div>
                    counter++; // Incrementing the counter
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>